NODE_ENV="development"
DATABASE_URL="postgresql://tallyme:tallyme_password@localhost:5432/tallyme_db?schema=public"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_SECRET="super_secret_string_min_32_chars_long"
NEXTAUTH_URL="http://localhost:3000"